@model ForumW24_V2.Models.Sujet
  
@{
    ViewData["Title"] = "Delete";
}

<h1>Retirer</h1>

<h3>Voulez-vous vraiment retirer?</h3>
<div>
    <h4>Sujet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Auteur
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkUser)
        </dd>
        <dt class = "col-sm-2">
            Titre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SujTitre)
        </dd>
        <dt class = "col-sm-2">
            Texte
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SujTexte)
        </dd>
        <dt class = "col-sm-2">
           Date de création
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SujDate)
        </dd>
        <dt class = "col-sm-2">
            Nombre de vues
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SujVues)
        </dd>
        <dt class = "col-sm-2">
           Catégorie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkCat.CatDesc)
        </dd class>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SujId" />
        <input type="submit" value="Retirer" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.FkCatId">Retour à la liste</a>
    </form>
</div>
